<!-- <div class="container"> -->
<div ng-controller="gameCtrl">

  <div class="row center-align">
    <div class="col m3">
      <div class="card grey darken-3">
        <div class="card-content white-text">
          <div class="card-image">
            <img width="auto" height="auto" ng-src="{{game.image.small_url}}" alt="">
          </div>
          <br>
          <span class="card-title">GENERAL INFO</span>
          <ul>
            <li>Name: {{ game.name }} </li>
            <br>
            <li>Original Release Date: {{ game.original_release_date | limitTo: 10 | date}} </li>
            <br>
            <li>Platforms:</li>
            <li ng-repeat="platform in game.platforms"> {{ platform.name }} </li>
          </ul>
        </div>
          <div class="card-action">
            <a href="https://www.amazon.com/computer-video-games-hardware-accessories/b/ref=sd_allcat_cvg?ie=UTF8&node=468642">BUY THIS GAME</a>
          </div>
      </div>
    </div>



    <div class="col m6">
      <div ng-show="game.image">
        <div class="card grey darken-3">
          <div class="card-stacked">
          <div class="card-content white-text">
            <h4> {{ game.name }} </h4>
          </div>
          <!-- <div class="card-action">
            <a href="#">MORE INFO</a>
          </div> -->
          </div>
        </div>
      </div>
      <div class="card grey darken-3">
        <div class="card-content white-text">
            <p class="left-align" ng-bind-html="game.description">
              <!-- {{ games[0].description }}  -->
            </p>
              </div>
              <div class="card-action">
            </div>
          </div>
      </div>



    <div class="col m3">
      <div class="card grey darken-3">
        <div class="card-content white-text">
          <span class="card-title">TOP 10 NEWS</span>
          <div class="collection">
            <a href="https://www.gamespot.com/articles/nintendo-switch-has-huge-launch-at-gamestop-retail/1100-6448434/" class="collection-item orange darken-4 white-text">BUY A SWITCH!</a>
            <a href="https://www.gamespot.com/videos/our-final-nintendo-switch-impressions-the-lobby/2300-6437436/" class="collection-item orange darken-4 white-text">THE SWITCH IS AWESOME!</a>
            <a href="https://www.gamespot.com/" class="collection-item orange darken-4 white-text">WHY YOU SUCK AS A GAMER</a>
            <a href="https://www.gamespot.com/" class="collection-item orange darken-4 white-text">YOUR CONSOLE GAME IS LAME</a>
            <a href="https://www.gamespot.com/" class="collection-item orange darken-4 white-text">COD TRUCKS ROBBED...AGAIN</a>
            <a href="https://www.gamespot.com/" class="collection-item orange darken-4 white-text">SLEEP AND GAMING</a>
            <a href="https://www.gamespot.com/videos/our-final-nintendo-switch-impressions-the-lobby/2300-6437436/" class="collection-item orange darken-4 white-text">NINTENDO SWITCH CONTROLLER OVERVIEW</a>
            <a href="https://www.gamespot.com/" class="collection-item orange darken-4 white-text">MUST BUY GAMES FOR 2017</a>
            <a href="https://www.gamespot.com/" class="collection-item orange darken-4 white-text">LOCAL GAMING EVENTS IN YOUR AREA</a>
            <a href="https://www.gamespot.com/" class="collection-item orange darken-4 white-text">HOW GAMING IS EVOLVING</a>
          </div>
            </div>
            <div class="card-action">
            <a href="https://www.gamespot.com/">More Reading...</a>
          </div>
        </div>
      </div>


  </div>

</div>
<!-- </div> -->
