

<!-- <div class="container"> -->

  <div class="row center-align">

    <div class="col m3">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title">Card Title</span>
            <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
              </div>
              <div class="card-action">
              <a href="#">This is a link</a>
            </div>
          </div>
      </div>

    <div class="col m6">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title">Card Title</span>
            <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
              </div>
              <div class="card-action">
              <a href="#">This is a link</a>
              <a href="#">This is a link</a>
            </div>
          </div>
        </div>

    <div class="col m3">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title">Card Title</span>
            <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
            </div>
            <div class="card-action">
            <a href="#">This is a link</a>
            <a href="#">This is a link</a>
          </div>
        </div>
      </div>

  </div>


<!-- Card for the game description or user info page
<div class="row center-align">
  <div class="col m6 offset-m3">
    <div class="card blue-grey darken-1">
      <div class="card-content white-text">
        <span class="card-title">Card Title</span>
          <p>I am a very simple card. I am good at containing small bits of information.
            I am convenient because I require little markup to use effectively.</p>
            </div>
            <div class="card-action">
            <a href="#">This is a link</a>
            <a href="#">This is a link</a>
          </div>
        </div>
      </div>
    </div> -->

<!-- </div> -->



  <!-- <div ng-show="game.image" ng-repeat="game in games">
    <div class="card horizontal">
      <div class="card-image">
        <img width="auto" height="100" ng-src="{{game.image.small_url}}" alt="">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <p> {{ game.name }} </p>
        </div>
        <div class="card-action">
          <a href="#">MORE INFO</a>
        </div>
      </div>
    </div>
  </div> -->


  <!-- <div ng-show="game.image" ng-repeat="game in games">
    <img width="auto" height="100" ng-src="{{game.image.small_url}}" alt="">
    <h1> {{ game.name }} </h1>
  </div> -->
