<!-- <div class="container"> -->

  <div class="row center-align">

    <div class="col m3">
      <div class="card grey darken-3">
        <div class="card-content white-text">
          <span class="card-title">GENERAL INFO</span>
          <ul>
            <li>Name: {{ games[0].name }} </li>
            <li>Original Release Date: {{ games[0].original_release_date | limitTo: 10 | date}} </li>
            <li>Platforms:</li>
            <li ng-repeat="platform in games[0].platforms"> {{ platform.name }} </li>
          </ul>
        </div>
          <div class="card-action">
            <a href="#">This is a link</a>
          </div>
      </div>
    </div>

    <div class="col m6">
      <div ng-show="games[0].image">
        <div class="card grey darken-3">
          <div class="card-image">
            <img width="auto" height="100" ng-src="{{games[0].image.small_url}}" alt="">
          </div>
          <div class="card-stacked">
          <div class="card-content white-text">
            <h4> {{ games[0].name }} </h4>
          </div>
          <div class="card-action">
            <a href="#">MORE INFO</a>
          </div>
          </div>
        </div>
      </div>
      <div class="card grey darken-3">
        <div class="card-content white-text">
          <span class="card-title">Description</span>
            <p ng-bind-html="games[0].description">
              <!-- {{ games[0].description }}  -->
            </p>
              </div>
              <div class="card-action">
              <a href="#">This is a link</a>
            </div>
          </div>
      </div>

    <div class="col m3">
      <div class="card grey darken-3">
        <div class="card-content white-text">
          <span class="card-title">TOP 10 NEWS</span>
          <div class="collection">
            <a href="#!" class="collection-item orange darken-4 white-text">Alvin</a>
            <a href="#!" class="collection-item orange darken-4 white-text">Alvin</a>
            <a href="#!" class="collection-item orange darken-4 white-text">Alvin</a>
            <a href="#!" class="collection-item orange darken-4 white-text">Alvin</a>
            <a href="#!" class="collection-item orange darken-4 white-text">Alvin</a>
            <a href="#!" class="collection-item orange darken-4 white-text">Alvin</a>
            <a href="#!" class="collection-item orange darken-4 white-text">Alvin</a>
            <a href="#!" class="collection-item orange darken-4 white-text">Alvin</a>
            <a href="#!" class="collection-item orange darken-4 white-text">Alvin</a>
            <a href="#!" class="collection-item orange darken-4 white-text">Alvin</a>
          </div>
            </div>
            <div class="card-action">
            <a href="#">This is a link</a>
          </div>
        </div>
      </div>


  </div>


<!-- </div> -->
