<div id="carousel-body" class="carousel carousel-slider">
  <div class="carousel-fixed-item center">
	  <form ng-submit="searchGames()">
	    <input type="text" ng-model="gameLists" id="carousel-input-field">
	  </form>
	  <a class="btn waves-effect orange darken-4 white-text darken-text-2" id="carousel-button">START YOUR SEARCH</a>
	</div>
	<a class="carousel-item"><img src="images\8e69dec63483ed3ccb5f1d7b5b77d3cc.jpg"></a>
	<a class="carousel-item"><img src="images\21280905468_cd21b59928_k.jpg"></a>
	<a class="carousel-item"><img src="images\us-appletv-2-sonic-the-hedgehog.png"></a>
	<a class="carousel-item"><img src="images\1f69d1e2baabc8e86d784a8e18bedacc.jpeg"></a>
</div>
