<div id="carousel-body" class="carousel carousel-slider">
  <div class="carousel-fixed-item center">
	  <form ng-submit="searchGames()">
	    <input type="text" ng-model="gameLists" id="carousel-input-field">
	  </form>
	  <a class="btn waves-effect orange darken-4 white-text darken-text-2" id="carousel-button">START YOUR SEARCH</a>
	</div>
	<a class="carousel-item"><img src="images\Metroid_super.png" class="responsive-img"></a>
	<a class="carousel-item"><img src="images\Lan_Party.png" class="responsive-img"></a>
	<a class="carousel-item"><img src="images\Sonic.png" class="responsive-img"></a>
	<a class="carousel-item"><img src="images\DMC3.png" class="responsive-img"></a>
</div>
